<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==!false" class ="table">
    <thead>
        <tr>
            <th>Car</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Model</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr *ngFor= "let cardto of carsdto"> <!-- bu kisim tablo satiri -->
        <td>{{cardto.carId}}</td> <!-- tablo  satirinin sutunu -->
        <td>{{cardto.brandName}} </td> 
        <td>{{cardto.colorName}}</td> 
        <td>{{cardto.model}}</td>
        <td>{{cardto.modelYear}}</td>
        <td>{{cardto.dailyPrice}}</td> 
        <td>{{cardto.description}}</td> 
    </tr>
</table>
