sadasd
<table class ="table">
    <tr *ngFor= "let car of cars"> <!-- bu kısım tablo satırı -->
        <td>{{car.carId}}</td> <!-- tablo  satırının sütunu -->
        <td>{{car.brandId}}</td> <!-- tablo  satırının sütunu -->
        <td>{{car.colorId}}</td> <!-- tablo  satırının sütunu -->
        <td>{{car.modelYear}}</td> <!-- tablo  satırının sütunu -->
        <td>{{car.dailyPrice}}</td> <!-- tablo  satırının sütunu -->
        <td>{{car.description}}</td> <!-- tablo  satırının sütunu -->
    </tr>
</table>